<div class="fixed top-0 left-0 h-16 w-full bg-white px-8 flex items-center">
  <!-- Logo container -->
  <div class="flex items-center w-80">
    <button class="mr-2 layout-topbar-action">
      <i class="pi pi-bars"></i>
    </button>
    <a href="">
      <span>Peluditos Pet</span>
    </a>
  </div>
  <!-- Actions -->
  <div class="ml-auto">
    <div class="hidden lg:block">
      <div class="display flex">
        <button type="button" class="layout-topbar-action">
          <i class="pi pi-user"></i>
        </button>
      </div>
    </div>
  </div>
</div>
