<section class="container relative bg-old-rose mx-auto sm:rounded-2xl lg:max-w-6xl px-6 py-8">
  <div class="absolute top-60 -right-50 rotate-190 md:-top-10 md:-left-50 md:rotate-360">
    <img src="/img/footprints.png" alt="Huellas" class="h-96" />
  </div>
  <div
    class="absolute top-200 -left-55 rotate-180 sm:top-160 sm:-left-40 md:top-50 md:-right-50 md:rotate-190"
  >
    <img src="/img/footprints.png" alt="Huellas" class="h-96" />
  </div>
  <h4 class="text-3xl text-white font-semibold mb-8 text-center">Nuestros Profesionales</h4>
  <div class="grid gap-6 justify-items-center sm:grid-cols-4 lg:grid-cols-3">
    <div
      class="bg-white rounded-lg p-3 w-2xs flex flex-col shadow-lg items-center text-center hover:shadow-xl/20 transition sm:col-span-2 lg:col-span-1"
    >
      <img
        src="/img/team/team-1.jpg"
        alt="Profesional 1"
        class="w-70 rounded-lg object-cover mb-4"
      />
      <div class="px-3">
        <h3 class="text-xl font-semibold mb-2">Dra. María Gómez</h3>
        <p class="text-gray-600 mb-4">Especialista en Medicina Interna</p>
        <p class="text-gray-500 text-sm">
          Con más de 10 años de experiencia, la Dra. Gómez se dedica a brindar atención integral a
          las mascotas.
        </p>
      </div>
    </div>

    <div
      class="bg-white rounded-lg p-3 w-2xs shadow-md flex flex-col items-center text-center hover:shadow-lg transition sm:col-span-2 lg:col-span-1"
    >
      <img
        src="/img/team/team-2.avif"
        alt="Profesional 2"
        class="w-70 rounded-lg object-cover mb-4"
      />
      <h3 class="text-xl font-semibold mb-2">Dr. Carlos Ruiz</h3>
      <p class="text-gray-600 mb-4">Especialista en Cirugía Veterinaria</p>
      <p class="text-gray-500 text-sm">
        El Dr. Ruiz es conocido por su habilidad quirúrgica y su enfoque compasivo hacia los
        pacientes.
      </p>
    </div>

    <div
      class="bg-white rounded-lg shadow-md p-3 w-2xs flex flex-col items-center text-center hover:shadow-lg transition sm:col-span-2 sm:col-start-2 lg:col-span-1"
    >
      <img
        src="/img/team/team-3.avif"
        alt="Profesional 3"
        class="w-70 rounded-lg object-cover mb-4"
      />
      <h3 class="text-xl font-semibold mb-2">Ana Martínez</h3>
      <p class="text-gray-600 mb-4">Groomer</p>
      <p class="text-gray-500 text-sm">
        Especialista en estética y cuidado canino, con dedicación y cariño para que tu mascota luzca
        y se sienta feliz.
      </p>
    </div>
  </div>
</section>
