<section
  id="services"
  class="container flex-col items-center gap-6 mt-30 mb-20 mx-auto md:mt-40 flex lg:max-w-6xl"
>
  <div
    class="w-15 h-15 sm:w-20 sm:h-20 rounded-xl bg-linear-to-b from-[rgba(189,145,34,1)] to-[rgba(199,87,141,1)] to-60%"
  >
    <img src="/img/services-in.png" alt="Services icon" class="text-white" />
  </div>
  <h4 class="text-2xl font-semibold mb-4 md:text-4xl">Servicios</h4>
  <p class="text-gray-600 max-w-lg mb-7 text-center">
    En Peluditos, ofrecemos una amplia gama de servicios diseñados para cuidar y mimar a tus
    mascotas.
  </p>

  <!-- Consulta -->
  <div class="grid gap-6 mt-5 lg:max-w-6xl md:grid-cols-2">
    <div class="flex flex-col gap-2 mx-10 animate-duration-500 animate-fadein">
      <h5 class="text-2xl font-semibold my-10 md:text-3xl">Atención veterinaria</h5>
      <p class="text-gray-600 mb-2">
        Nuestro equipo profesional ofrece atención personalizada, diagnósticos precisos y
        tratamientos efectivos en un entorno cálido y confiable.
      </p>
      <ul class="list-disc list-inside text-gray-600 max-w-2xl space-y-2">
        <li>Consultas veterinarias y chequeos de salud</li>
        <li>Vacunación y desparasitación</li>
        <li>Cirugías y procedimientos médicos</li>
      </ul>
    </div>
    <div class="flex justify-center mx-10 animate-duration-500 animate-fadeinright">
      <img
        src="/img/services/consult-2.webp"
        alt="Consulta Veterinaria"
        class="h-96 w-full rounded-4xl object-cover"
      />
    </div>
  </div>
  <!-- Peluqueria -->
  <div class="grid gap-6 mt-10 lg:max-w-6xl md:grid-cols-2">
    <div class="flex flex-col gap-2 mx-10 md:order-2 animate-duration-500 animate-fadein">
      <h5 class="text-2xl font-semibold my-10 md:text-3xl">Peluqueria</h5>
      <p class="text-gray-600 mb-2">
        Nuestro servicio incluye atención especializada para cada tipo de pelaje, productos
        dermatológicos de calidad y un trato amoroso que garantiza una experiencia libre de estrés.
      </p>
      <ul class="list-disc list-inside text-gray-600 max-w-2xl space-y-2">
        <li>Peluquería profesional adaptada a cada raza.</li>
        <li>Corte de uñas.</li>
        <li>Baños medicados para piel sensible o condiciones específicas.</li>
        <li>Baños antipulgas con fórmulas efectivas y suaves.</li>
      </ul>
    </div>
    <div class="flex justify-center mx-10 md:order-1 animate-duration-500 animate-fadeinleft">
      <img
        src="/img/services/groom-1.avif"
        alt="Consulta Veterinaria"
        class="h-96 w-full rounded-4xl object-cover"
      />
    </div>
  </div>
  <!-- Laboratorios -->
  <div class="grid gap-6 mt-10 lg:max-w-6xl md:grid-cols-2">
    <div class="flex flex-col gap-2 mx-10 animate-duration-500 animate-fadein">
      <h5 class="text-2xl font-semibold my-10 md:text-3xl">Laboratorio</h5>
      <p class="text-gray-600 mb-2">
        Contamos con un laboratorio especializado que permite realizar diagnósticos rápidos y
        precisos para cuidar la salud de tus mascotas.
      </p>
      <ul class="list-disc list-inside text-gray-600 max-w-2xl space-y-2">
        <li>Descarte de hemoparásitos.</li>
        <li>Exámenes tiroideos.</li>
        <li>Análisis clínicos complementarios según las necesidades de cada paciente.</li>
      </ul>
    </div>
    <div class="flex justify-center mx-10 animate-duration-500 animate-fadeinright">
      <img
        src="/img/services/lab.webp"
        alt="Consulta Veterinaria"
        class="h-96 w-full rounded-4xl object-cover"
      />
    </div>
  </div>
</section>
