<footer class="mt-30 h-auto bg-amber-950 text-sm">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 gap-6 items-center p-10 lg:p-0 mx-4 max-w-5xl sm:mx-auto text-white"
  >
    <div class="flex flex-col gap-6">
      <img src="/logo-white.png" alt="Logo" class="w-20 sm:w-24" />
      <div class="flex flex-col gap-1 text-sm">
        <p>Calle Guiza, Sector Caura</p>
        <p>CC. Caura, Local #32</p>
        <p>Pto. Ordaz, Venezuela</p>
      </div>
      <div class="flex gap-5 text-sm">
        <div>
          <p class="font-semibold">Teléfono</p>
          <p class="mt-1">+58 414-1234567</p>
        </div>
        <div>
          <p class="font-semibold">Email</p>
          <p class="mt-1">peluditos@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="mt-2 sm:mt-0 sm:justify-self-end">
      <h2 class="text-lg font-semibold mb-3">Follow Us</h2>
      <div class="flex gap-3 items-center">
        <a href="https://facebook.com/peluditos" target="_blank" rel="noopener noreferrer">
          <img src="/img/facebook.png" alt="Facebook" class="w-6 h-6 sm:w-7 sm:h-7" />
        </a>
        <a href="https://instagram.com/peluditos" target="_blank" rel="noopener noreferrer">
          <img src="/img/instagram.webp" alt="Instagram" class="w-8 h-8 sm:w-10 sm:h-10" />
        </a>
      </div>
    </div>
  </div>

  <div class="mx-4 sm:mx-auto">
    <p class="mt-6 pb-3 text-center text-gray-200">&copy; 2025 Peluditos. All rights reserved.</p>
  </div>
</footer>
