<app-basic-table
  [rows]="rows()"
  [cols]="cols"
  title="Persona Natural"
  [selection]="selected"
  [pageInfo]="pageInfo()"
  [globalFilterFields]="[
    'person.taxpayer_type',
    'dni',
    'person.name',
    'person.phone',
    'person.email',
  ]"
  (nextPage)="nextPage()"
  (resetPage)="prevPage()"
  (prevPage)="resetPage()"
>
  >
  <ng-template #body let-rowData let-columns="columns">
    <td>{{ rowData.person.taxpayer_type }}-{{ rowData.dni }}</td>
    <td>{{ rowData.person.name }}</td>
    <td>{{ rowData.person.phone | phone }}</td>
    <td>{{ rowData.person.email }}</td>
  </ng-template>
</app-basic-table>
