@if (isSidebarVisible) {
<div class="fixed inset-0 bg-black/50 z-40 md:hidden" (click)="closeSidebar()"></div>
}

<aside
  [ngClass]="{ 'translate-x-0': isSidebarVisible, '-translate-x-full': !isSidebarVisible }"
  class="translate-x-0 fixed h-full w-80 p-7 bg-white transform transition-transform duration-300 z-50 md:w-64 md:top-16 md:left-0 md:h-[calc(100%-4rem)]"
>
  <!-- <div class="flex justify-end md:hidden mb-3" (click)="closeSidebar()">
    <i class="pi pi-times text-base"></i>
    <i class="pi pi-house"></i>
  </div> -->
  <div class="overflow-y-auto h-[calc(100%-200px)]">
    <ul class="space-y-4">
      <li *ngFor="let group of items">
        <h3 class="text-sm uppercase tracking-widest text-gray-500 font-semibold mb-2">
          {{ group.label }}
        </h3>
        <ul class="space-y-2 pl-4">
          @for(item of group.items; track item.id){
          <li>
            <a
              [routerLink]="item.routerLink"
              routerLinkActive="text-rose-600"
              [routerLinkActiveOptions]="{ exact: true }"
              class="flex items-center gap-2 text-gray-700 hover:text-rose-600"
            >
              <i [ngClass]="item.icon"></i> <span>{{ item.label }}</span>
            </a>
          </li>
          }
        </ul>
      </li>
    </ul>
  </div>

  <div class="absolute right-0 bottom-0">
    <img src="/img/iconPG.png" alt="Sidebar img" class="w-32 h-auto" />
  </div>
</aside>
