<div class="grid grid-cols-1 gap-4">
  <div class="flex gap-3">
    <p-menu
      [model]="items"
      class="hidden md:block"
      [pt]="{
        itemLink: { class: 'focus:bg-blue-100 focus:text-blue-700 active:bg-blue-200' },
      }"
    />

    <p-card header="hola" class="w-full max-w-4xl">
      <ng-template pTemplate="title">
        <div class="flex align-items-center justify-content-between gap-2">
          <div class="flex align-items-center gap-2">
            <p-menu #menu [model]="items" [popup]="true" class="md:hidden" />
            <p-button
              size="small"
              (click)="menu.toggle($event)"
              icon="pi pi-ellipsis-v"
              class="md:hidden"
            />
            <span class="text-xl text-gray-700">Tutores</span>
          </div>
        </div>
      </ng-template>

      <router-outlet />
    </p-card>
  </div>
</div>
