/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.app-dark, .app-dark *));

@layer tailwind, primeng;

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter_Regular.ttf');
}

@theme {
  --font-inter: 'Inter', sans-serif;
  --default-font-family: 'Inter';
}
