<div class="animate-duration-500 animate-fadein lg:animate-fadeinup lg:animate-duration-600">
  <div
    class="h-160 lg:h-176 relative mask-radial-[100%_100%] mask-radial-from-75% mask-radial-at-top"
  >
    <img
      src="/img/banner.jpg"
      alt="Pet Background"
      class="w-full h-full object-cover object-top absolute -z-2"
    />

    <div
      class="absolute inset-0 -z-1 bg-[linear-gradient(106deg,rgba(0,0,0,0.36)_0.48%,rgba(0,0,0,0.10)_100%)]"
    ></div>

    <div class="container w-full mx-auto lg:max-w-6xl">
      <div class="h-160 lg:h-176 flex flex-col">
        <!-- Navbar -->
        <app-navbar />
        <!-- Info Container -->
        <div class="flex flex-col justify-between pb-16">
          <div class="mt-50 px-6 m-auto text-center lg:mt-64">
            <h1 class="text-4xl lg:text-6xl max-w-2xl leading-tight font-inter text-white">
              Bienestar para tu mascota
            </h1>
            <p class="mt-6 max-w-140 text-lg text-white/72 lg:text-base">
              Servicios veterinarios certificados y peluquería canina especializada. Atención
              integral en un solo lugar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
